.translation-admin-item {
  // background:#eee;
  // border:1px solid #ccc;
  // border-radius:5px;
  // margin:2em 0;
  // padding:2em;
  &.expanded {
    background: #eee;
    border-top: 2px solid #009;
    border-bottom: 2px solid #009;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.fa.wien-loc {
  color: #900;
}

.grey {
  opacity: 0.1;
}

.itemlist {
  margin: 10px 0;
}

.translation-admin-item-container {
  .table-like {
    .kcateg {
      font-size: 0.8em;
    }
    .kgroup {
      color: #228888;
    }
    .knamespace {
      color: #339999;
    }
    .ktitle {
      display: block;
      font-weight: bold;
      font-size: 14px;
    }

    &.header {
      font-weight: bold;
      background: #eee;
    }
    > div {
      border-right: 1px dotted #ccc;
      border-top: 1px dotted #ccc;
      > div {
        padding: 5px 10px;
      }
    }
  }
  label {
    display: block;
    line-height: 36px;
    text-align: right;
    em {
      font-style: normal;
      background: #999;
      color: #eee;
      font-size: 0.9em;
      padding: 0.3em;
      margin-left: 0.5em;
      text-transform: uppercase;
    }
  }
  .en label em {
    background: #99e;
  }
  .found-location ,.showtime {
    border: 1px solid #999;
    padding: 0.5em;
    font-size: 0.8em;
    background: #bbf;
    border-radius: 3px;
    margin: 10px;
    width: 300px;
    display: inline-block;
  }
}
